@charset "utf-8";

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}
h1, h2, h3, h4, h5, h6 
{font-weight: normal; font-size: inherit;}

body { line-height: 1; height: 100%; font-family: "맑은 고딕", sans-serif;
    font-size: 16px; letter-spacing: -1px; color:#444; white-space: normal;
    word-break: break-word;
}
body, button, input, textarea {
    font-size: 14px;
    line-height: 18px;
}
menu, nav, section { display: block; }
img, fieldset, a { border: none; }
img { vertical-align: middle; }
table, thead, tbody, tfoot { 
    border-collapse: collapse;
    border: 0;
    border-spacing: 0;
}
ul, ol, li { list-style: none; }
address, em { font-style: normal; }
input, select, textarea, button, form img, label { vertical-align: middle; } 
a { text-decoration: none; }
a:link { color:#444; }
a:visited { color:#444; }
a:hover { color:#444; }
a:focus { color:#444; }
html { height: 100% }
hr { display: none; }
.hdd, legend {
    font-size: 0; width: 0; height: 0; line-height: 0; text-indent: -9999px; overflow: hidden; visibility: hidden; position: absolute; top:0; left:0
}
.dp_none { display: none; }
caption { font-size: 0; width: 0; height: 0; line-height: 0; text-indent: -9999px; overflow: hidden; }
.clear:after { content:""; display: block; clear: both; }

/* 건너뛰기 링크(웹 접근성) */
.skipnavi { position: absolute; left:0; top:-50px; text-indent: -9999px; font-size:0; width:100%; z-index: 999; } 
.skipnavi li a:focus, .skipnavi li a:active {
    position: absolute; left:0;
    top:50px; display: block;
    width: 100%; padding: 5px 0; text-align: center; text-indent: 0px; font-size: 12px;
    font-weight: bold; background-color: #f2f2f2; 
}

/* layout */
.box_inner { width: 935px; margin:0 auto;}

/* header */
header { position: absolute; left:0; top:0; width: 100%; height: 54px; z-index: 100; border-bottom: 1px solid #ccc; position: fixed; background-color: white;} 
header .header_area { position: relative; height: 54px;}
.header_area .header_img{
    height: 36px;   
    float: left; 
    width: 360px;
}
.header_area .header_img a{ 
    float: left; 
    margin-top: 10px;
    height: 29px;
    width: 103px;
    box-sizing: border-box;
}
.header_area .header_img img{
    width: 100%;
    margin: 0 auto;
}
.header_search{
    float: left;
    height: 28px;
    width: 215px;
    margin-top: 15px;
    box-sizing: border-box;
}
.h_Search{
    padding: 2px;
    height: 100%;
    width: 100%;
    border: 1px solid #ccc;
    padding-left: 30px;
    box-sizing: border-box;
    border-radius: 3px;
    background: url(../images/search_icon.png) no-repeat 10px 50%;
    background-size: 13px;
}
.header_meun {
    float: right;
    box-sizing: border-box;
    margin-top: 10px;
    position: relative;
    height: 35px;
    padding-top: 7px;
}
.header_meun .h_meunlist{
    box-sizing: border-box;
    float: left;
    margin-left: 20px;
}
.m_dmAr .dmAr{
    background-color: red;
    height: 17px;
    width: 17px;
    color: white;
    position: absolute;
    top: 0px;
    left: 73px;
    border-radius: 50%;
}
.m_dmAr .dmAr p{
padding-left: 5px;
line-height: 17px;
font-size: 12px;
}
.mpage_img {
    background-color: #fafafa;
    background-color: rgba(var(--b3f,250,250,250),1);
    border-radius: 50%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    overflow: hidden;
    position: relative;
}
.mypage{
    cursor: pointer;
}
.my_p{
	border-radius:25px;
	height:100%;
    width: 100%;
}
.hd_heart { position: relative;}
.hd_heart_sub {
    max-height: 360px;
    min-height: 100px;
    border: 1px solid #f1f1f1;
    background-color: white;
    border-radius: 6px;
    box-shadow: 1px 1px 1px 1px rgba(38, 38, 38, .1);
    display: none; 
    position: absolute;
    top: 42px;
    left: -257px;
    width: 470px;}
.hd_heart_sub .sub_prices { display: flex; border: none;   }
.hd_heart_sub .sub_prices { width: 98%; height: 63px;  padding: 10px 16px 12px; box-sizing: border-box; border-bottom: 1px solid #ccc; }
.hd_heart_sub .sub_prices .pr1 a img { display: inline-block; width: 30px; height: 30px;}
.hd_heart_sub .sub_prices .pr1 { width: 13%; height: 100%; padding-top:5px; }
.hd_heart_sub .sub_prices .pr2 { width: 75%; height: 100%; font-size: 16px; line-height: 20px;}
.hd_heart_sub .sub_prices .pr3 { width: 10%; height: 100%; padding-top:5px;}
.hd_heart_sub .sub_prices .pr3 input[type='button'] { width: 62px; height: 30px; background-color: white; font-size: 14px; font-weight: bold;
border: 1px solid #ccc; border-radius: 4px;}
.hd_heart_sub.on {
    z-index: 29;
    display: inline-block;
}

/* footer */
footer{height: 104px; padding: 0 20px; 
}
footer .footer_area {padding-top: 40px;}
.footer_area .f_area1 {float: left;}
.f_area1 ul li{
    display: inline-block; 
    margin-bottom: 7px; 
    margin-right: 16px;
}
.f_area1 ul li a{font-weight: bold; font-size: 13px; color: #00376b;}
.f_area2{float: right; color: #8e8e8e; font-size: 12px; margin-top: 3px;}

/*  container */
#container{
    margin-top: 84px;
}
/* 공통부분 */
.content { width: 930px; height: 780px; margin: 0 auto; display: flex; border: 1px solid rgb(219, 219, 219);}
a { text-decoration: none;}
input[type="text"].price_txt { border: 1px solid rgb(219, 219, 219); border-radius: 3px; box-sizing: border-box; width: 100%; height: 32px; padding: 10px; font-size: 16px; margin-top: 4px;}
textarea { border: 1px solid rgb(168, 168, 168); border-radius: 3px; height: 60px; width: 100%; box-sizing: border-box; resize: vertical; max-height: 90px;}
label { font-weight: bold; font-size: 16px;}
li { font-size: 16px;}


/* price1 영역 */
.a_blue { color: rgb(0, 149, 246); font-size: 14px; font-weight: bold;}
.price1 { border-right: 1px solid rgb(219, 219, 219); height: 100%; padding: 0; margin: 0;}
.price1 li { list-style: none; width: 235px; height: 52px; }
.price1 li a { text-decoration: none; color: rgb(38, 38, 38); font-weight: 400; display: block; height: 20px; padding: 16px 16px 16px 30px; line-height: 20px;}

/* 메뉴 hover() 됫을시 */
.price1 .price1_choice { border-left: 2px solid #000; font-weight: bold;}
.price1 .price1_not_choice:hover { border-left: 2px solid #ccc;}

/* price2 영역 공통 */
.price2 { width: 100%;}
.price2 .price2_nav, .price2_item { width: 100%; margin: 16px 0 0; box-sizing: border-box; padding: 0; display: flex; }
.price2 .price2_nav .nav1 img { width: 38px; height: 38px; }
.price2 .price2_main { width: 100%; height: 627px; margin: 16px 0 16px; box-sizing: border-box;}
.item_left { padding: 0 32px 0; margin: 8px 0 2px; width: 200px; text-align: right; box-sizing: border-box;}
.item_right { width: 365px;}
/* page1 */
.item_right .sub { display: block; font-size: 12px; margin: 16px 0 4px; color: rgb(142, 142, 142);}
.item_right .sub_re { font-size: 14px; color: rgb(142, 142, 142); font-weight: bold;}
.item_right .sub_re2 { margin-top: 0;}
.item_right .sub_re3 { display: inline; color: #000; font-weight: bold; font-size: 14px;}
.item_right .btn { background-color: rgba(0, 149, 246, .3); opacity: 1; color: #fff; border-radius: 4px; border: 1px solid rgb(252, 252, 252);  height: 30px;
font-weight: bold; font-size: 14px;}
.last { margin-top: 15px;}
.txt { margin-left: 105px; }
.last .a_blue, .nav2 .a_blue { color: #0095f6;}

/* page2 */
.nav2_ft { font-size: 24px; padding-top: 18px; font-weight: 400;}
.txt2 { margin: 0;}

/* page3 */
.p3_nav { margin-top: 68px; margin-left: 68px;}
.p3 .p3_h { font-size: 28px;}
.p3_main { margin-top: 54px; margin-left: 68px; font-size: 16px; }
.p3_main1 { display: flex; text-align: center;}
.p3_main1 .sp{ border-bottom: 1px solid rgb(38, 38, 38); padding: 8px 0 1px; width: 291px; height: 33px; display: block; font-weight: bold;}
.p3_main1 .sp_re { border-bottom: 1px solid rgba(38, 38, 38, .3); color: rgba(38, 38, 38, .3);}
.p3_main2 { margin-top: 20px; line-height: 24px;}
.p3_main3 { margin-top: 20px; color: #8e8e8e;}

/* page4 */
.p4 { margin: 24px 32px 32px 64px;}
.p4_h { font-size: 22px;}
.p4_main { margin-top: 30px;}   
.sp4 { font-weight: bold; font-size: 14px;}
.p4_main p { color: rgba(142, 142, 142, 1); letter-spacing: 0.3px; margin-left: 5px;} 

/* page5 */
.content_p5 { height: 1940px;}
.p5 { padding: 14px 24px 14px 12px; border-bottom: 1px solid rgba(168, 168, 168, .3);}
.p5_last { border: none;}
.p5_h { font-size: 24px; margin-bottom: 30px; margin-top: 10px; box-sizing: border-box;}
.p5 .sp5 { font-weight: bold; font-size: 14px; display: inline-block; position: relative; top: 1px;
letter-spacing: 0px;}
.p5 input[type="radio"] { height: 20px;}
.p5_p { margin-top: 5px; color: #8e8e8e;}

/* page6 */
.p6 {width: 100%; height: 100%; }
.p6_content { margin: 0 64px; box-sizing: border-box;}
.p6_main { margin: 32px 0;}
.p6_main h1 { font-size: 24px; font-weight: 400; color: rgba(38, 38, 38, 1);}
.p6_main2 { margin-bottom: 24px; box-sizing: border-box;}
.p6_main2 p { font-size: 16px; font-weight: 400px; letter-spacing: 0px;}
.p6_main3 { margin: 64px 0 16px 0; padding-bottom: 12px; display: flex; justify-content: space-between; box-sizing: border-box; border-bottom: 1px solid rgba(219, 219, 219, 1);}
.p6_main3 p { font-size: 16px; font-weight: 600;}
.p6_main3 button { border: 0; color: rgba(0, 149, 246, 1); opacity: .3; display: inline-block; background: 0 0; font-size: 14px; font-weight: 600; line-height: 18px;}
.p6_main4 { font-size: 16px; font-weight: 400px;  border-bottom: 1px solid #ccc; }
.p6_main4 p { margin-bottom: 32px; margin-top: 32px;}
.p6_main5 { padding-top: 16px;}
.p6_main5 button { border-radius: 4px; color: rgba(255, 255, 255, 1); background-color: rgba(0,149,246,.3); 
    padding: 5px 9px; font-weight: 600; text-align: center; box-sizing: border-box; border: 1px solid transparent;}

/* page7 */
.content_p7 { height: 1305px;}
.p7 { width: 100%; height: 100%;}
.p7_content { padding: 32px 48px;}
.p7_main { border-bottom: 1px solid rgba(219, 219, 219, 1); margin-bottom: 22px; padding-bottom: 22px;}
.p7_h { font-size: 24px; font-weight: 400px; line-height: 27px; margin-bottom: 26px;}
.p7 .sp7 { font-weight: bold; font-size: 14px; display: inline-block; position: relative; top: 2px;
    letter-spacing: 0px; }
.p7 p { font-size: 14px; font-weight: 400; line-height: 20px; margin-top: 8px; color: rgba(142, 142, 142, 1); letter-spacing: 0px;}
.p7 a { color: #0095f6;}
.p7_last { border: none;}

/* page9 */
.p9_content { margin-left: 64px; margin-right: 64px;}
.p9 .p9_h { margin-top: 32px; margin-bottom: 32px; font-size: 22px !important; color: #262626; font-weight: 300;}
.p9_main1 { display: flex; text-align: center;}
.p9_main1 .sp{ border-bottom: 1px solid rgb(38, 38, 38); padding: 8px 0 1px; width: 291px; height: 33px; display: block; font-weight: bold;}
.p9_main1 .sp_re { border-bottom: 1px solid rgba(38, 38, 38, .3); color: rgba(38, 38, 38, .3);}
.p9_main2 { margin-top: 20px; line-height: 24px; padding-bottom: 30px;}
.p9_main2 p { font-size: 18px; font-weight: 400; line-height: 24px; letter-spacing: 0px;}
.p9_main3 { border-top: 1px solid rgba(168, 168, 168, .5); padding-top: 12px; padding-bottom: 12px;}
.p9_main3 p { letter-spacing: 0;}
.p9_main3 .p9_p1 { font-weight: bold; }
.p9_main3 .p9_p3 { color: rgba(142, 142, 142, 1);}

/* nametag */
.tag_container { margin-top: 0 !important;}
.nt_wrap { background-color: rgba(250,250,250,1);}
.nt_main1 { background-image: linear-gradient(to right top, rgb(253, 141, 50), rgb(163, 7, 186)); height: 400px; width: 100%;
padding: 0 !important; position: relative; }
.nt_main2 { max-width: 935px; margin: 60px 32px; text-align: center; }
.nt_main2 .itembox div { width: 285px; height: 205px;}
.nt_main2 img {display: inline-block; height: 120px; margin-bottom: 20px;}
.nt_main2 .nav h1{ font-size: 28px; font-weight: 300; color: rgba(38, 38, 38, 1)}
.nt_main2 .itembox { display: flex; padding-top: 35px; justify-content: space-around;}
.tem_box { width: 265px !important; }
.nt_main1 .main1_content { height: 300px; position: absolute; top: 50px; display: flex; margin: 0 auto; width: 100%; justify-content: center;}
.main1_content .main1_content_1 { width: 300px; height: 300px; z-index: 500; margin-right: 30px;}
.main1_content .main1_content_2 { width: 68%; z-index: 500; padding-top: 20px;}
.main1_content .main1_content_2 { width: 500px; height: 240px;}
.main1_content .main1_content_2 .content_2_1 { font-size: 28px; color: #fff; line-height: 32px;}
.main1_content .main1_content_2 .content_2_2 { font-size: 16px; color: #fff; line-height: 24px; margin-top: 10px;}
.main1_content .main1_content_2 .content_2_3 { margin-top: 30px; }
.main1_content .main1_content_2 .content_2_3 input[type="button"] { width: 26px; height: 26px; border-radius: 50%; pointer-events: auto; margin-right: 6px; border: 1px solid #fff;}
.content_2_3 .btn1 { background-image: linear-gradient(to right top, rgb(253, 141, 50), rgb(163, 7, 186));}
.content_2_3 .btn2 { background-image: linear-gradient(to right top, rgb(253, 203, 92), rgb(237, 73, 86));}
.content_2_3 .btn3 { background-image: linear-gradient(to right top, rgb(39, 196, 245), rgb(163, 7, 186));}
.content_2_3 .btn4 { background-image: linear-gradient(to right top, rgb(84, 215, 255), rgb(19, 114, 204));}
.content_2_3 .btn5 { background-image: linear-gradient(to right top, rgb(112, 192, 80), rgb(39, 196, 245));}
.content_2_3 .btn6 { background-image: linear-gradient(to right top, rgb(115, 115, 115), rgb(38, 38, 38));}
.content_2_4 { margin-top: 30px; height: 50px;}
.content_2_4 .tag_btn { border: 1px solid rgba(219,219,219,1); border-radius: 4px; color: rgba(38,38,38,1);
 cursor: pointer; display: block; font-weight: 600; padding: 5px 9px; text-align: center; height: 30px; font-size: 14px;}
.nt_main2 .tag_p1 { font-size: 18px; font-weight: 600; margin-bottom: 10px;}
.nt_main2 .tag_p2 { font-size: 14px; font-weight: 300; color: rgba(142, 142, 142, 1);}

/* search */
.search_wrap { background-color: rgba(250,250,250,1); }
.search_wrap .search_container { margin-top: 55px !important;}
.search_content {  align-items: stretch; margin: 0; padding-top: 5px;}
.search_content .search_header { display: flex; margin: 30px auto 44px; max-width: 935px; width: 100%; height: 157px; box-sizing: border-box;
}
.search_content .search_img {height: 152px; width: 152px; margin-right: 50px;}
.search_content .search_img1 { background: url(../images/sky.png) no-repeat center; height: 152px; width: 152px; border-radius: 50%; margin-right: 50px;
border: 1px solid #f1f1f1;}
.search_content .search_name h1 { font-size: 28px; font-weight: 300; height: 35px;}
.search_content .search_name .search_name_p1 { font-size: 16px; font-weight: 400; height: 50px; letter-spacing: 0px;}
.search_content .search_name .search_name_p1 span { font-size: 15px;}
.search_content .search_name .search_name_p1 span {font-weight: bold;}
.search_content .search_name .search_name_p2 { margin-bottom: 20px;}
.search_content .search_name input[type='button'] { width: 122px; height: 30px; background-color: #0095f6; border: 1px solid transparent; border-radius: 4px;
color: #fff; font-weight: bold; cursor: pointer;}
.search_content .search_name .search_name_p3 { color: rgba(142, 142, 142, 1); letter-spacing: 0px;}
.search_content .search_name .search_name_p3 span { cursor: pointer; }
.search_content .search_name .search_name_p3 span a { color: rgba(0, 55, 107, 1); letter-spacing: 0px;}

/* 사진들 */
.search_content .search_images h2 { margin-bottom: 12px; color: rgba(142, 142, 142, 1); font-weight: bold;}
.search_content .search_images .box_h2 { margin: 40px 0 20px;}
.search_content .search_images .images_items .items_box { margin-bottom: 28px; display: flex; box-sizing: border-box;}
.search_content .search_images .images_items .items_box img { width: 293px; height: 293px; margin-right: 30px; object-fit: cover;}

/* overpopup */
.search_images .images_items .items_box .boxs { position: relative; z-index: 2;}
.search_images .images_items .items_box .boxs .popup_box { position: absolute; top: 0; left: 0; width: 293px; height: 293px;  background-color: rgba(0, 0, 0, 0.5);
display: none; z-index: 9999; color: rgba(255, 255, 255, 1); text-align: center; box-sizing: border-box; padding-top: 120px;}
.search_images .images_items .items_box .boxs a#a_box { height: 294px !important; display: block; z-index: 1;}
.search_images .images_items .items_box .boxs .popup_box img { width: 20px; height: 20px; margin-right: 0; }
.search_images .images_items .items_box .boxs .popup_box.on{
    z-index: 3000; display: inline-block;
}
